<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.file.label }}：{{ form.file }}
            <br>
            {{ form.file_name.label }}:{{ form.file_name }}

            {% if form.file_name.errors %}
                <div style="color: red">  {{ form.file_name.errors.as_text }}</div>
            {% endif %}

{#            <p>{{ form.as_p }}</p>#}
            <p><input type="submit" value="アップロード"></p>
        </form>
        <br>
        <P><a href="{% url 'pictures:picture_list' %}">一覧ページへ</a></p>
        </br>

</body>
</html>