<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <P><a href="{% url 'pictures:top' %}">model formクラスの登録ページへ</a>  file_name：file_name+yyyymmdd</p>
        <P><a href="{% url 'pictures:picture_upload' %}">upload.htmlのフォームの登録ページへ</a>  file_name：画像ファイル名（拡張子は取る）</p>

        <br>
        {% for object in uploadfile_list %}
        <tr>
            <p>ID：{{ object.id }}
            <img width="100px" heigth="100px" src="{{ object.file.url }}">

{#            <img width="100px" heigth="100px" src="{{ object.file.url }}">#}
            file_name：{{ object.file_name }}
            <a href="{% url 'pictures:picture_delete' pk=object.id %}">削除</a>
            <a href="{% url 'pictures:picture_edit' pk=object.id %}">編集</a>
            <a href="{% url 'pictures:picture_detail' pk=object.id %}">詳細</a>
{#            <a href="{{ object.file.url }}" download="{{ object.file.name }}">ダウンロード</a></p>#}
{#            <a href="{{ object.file.url }}" download="{{ object.file.name }}">ダウンロード</a></p>#}
{#            <a href="{% url 'pictures:picture_delete' pk=object.pk %}">削除</a></p>#}
{#            <a href="{% url 'pictures:picture_delete' object.id %}">削除</a></p>#}
        </tr>
        {% endfor %}
    </div>
</body>
</html>